.image-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0; /* Adjust margin as needed */
}

.custom-img {
    width: 50%;
    transform: rotate(0deg);
    margin-right: 20px; /* Adjust margin as needed */
}

.text-content {
    flex: 1;
}

@media (max-width: 768px) {
    .custom-img {
        width: 100%;
        margin-right: 0;
        transform: rotate(0deg); /* Adjust rotation as needed for mobile */
    }

    .text-content {
        width: 100%;
    }
}

