<!-- layouts/shortcodes/profile.html -->
<div class="profile-container">
  <div class="profile-image">
    <img src="{{ .Get "image" }}" alt="Profile Picture" />
  </div>
  <div class="profile-text {{ if .Get "textClass" }}{{ .Get "textClass" }}{{ end }}">
    {{ .Inner | markdownify }}
  </div>
</div>

<style>
  .profile-container {
    display: flex;
    align-items: flex-start;
    margin: 1em 0;
  }

  .profile-image {
    margin-right: 7.5%;
  }

  .profile-image img {
    max-width: 500px;
    height: auto;
    border-radius: 4px;
    object-fit: cover; /* Ensures the image scales nicely */
  }

  .profile-text {
    flex: 1;
    min-width: 0;
  }

  /* Default mobile layout (stacked) */
  @media (max-width: 768px) {
    .profile-container {
      flex-direction: column;
    }
    .profile-image {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .profile-image img {
      max-width: 100%;
      /* width: 100%; /* Ensures full width on smaller screens */ */
    }
  }

  /* Tablet portrait mode or when height exceeds width */
  @media (min-width: 769px) and (max-width: 1366px) and (orientation: portrait) {
    .profile-container {
      flex-direction: column;
    }
    .profile-image {
      margin-right: 0;
      margin-bottom: 20px;
      align: center;
    }
    .profile-image img {
      max-width: 100%;
      width: 100%;
    }
    .profile-text {
      width: 100%;
    }
  }

  /* Ensure flexibility for wider screens */
  @media (min-width: 769px) {
    .profile-image img {
      max-width: 500px; /* Keeps the original max-width for desktop */
    }
  }
</style>


